html {
    font-size: 62.5%;
    margin: 0 !important;
    padding: 0 !important;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

:root {
    --perFontFam: "Vivaldi";
    --perFontSize: 3.5rem;
    margin: 0;
    padding: 0;
}


/* About CSS */
#about-pretitle {
    font-family: var(--perFontFam);
    font-size: var(--perFontSize);
}

#about-title {
    margin-top: -30px;
    font-size: 4rem;
    margin-bottom: 50px;
}

#about-img {
    position: relative;
}

#about-img img {
    position: absolute;
    right: -15%;
    top: 20%;
    z-index: -1;
}

@media (max-width:768px) {
    #about-img img {
        position: relative;
        right: 0;
        top: 0;
        margin-bottom: 3rem;
    }
}

#about-desc {
    background-color: rgba(255, 206, 10, 0.726);
    padding: 85px 50px 90px 30px;
    text-align: center;
}

#about-desc h2 {
    font-size: 3.9rem;
    font-weight: 400;
    margin-bottom: 20px;
}

#about-desc p {
    font-size: 2.3rem;
    color: #4B4B4B;
}

#about-cards {
    margin-top: 17.5rem;
    margin-bottom: 15rem;
}

#about-cards img {
    padding: 10px;
    
}

#about-cards h3 {
    font-size: 3rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.ab-cr{
    border: 1px solid silver;
    border-radius: 15px;
    box-shadow: 7px 7px 5px #aaaaaa;
    transition: 0.5s;
}
.ab-cr:hover{
    transform: scale(1.06);
}

#about-cards p {
    font-size: 2.4rem;
    color: #8E8E8E;
    padding-left: 20px;
    padding-right: 20px;
}

/* Recipe CSS */
#recipe {
    background-color: #272727;
    color: white;
    text-align: center;
}

#recipe-pretext {
    font-size: var(--perFontSize);
    font-family: var(--perFontFam);
    margin-top: 7rem;
}

#recipe-title {
    margin-top: -20px;
    font-size: 4rem;
    margin-bottom: 7rem;
}
.slider{
    height: 370px;
    width: 100%;
    position: relative;
    display: block;
}
.slide{
    position: absolute;
    backface-visibility: hidden;
    transition: .4s all;
}
.slide-cont{
    width: 25rem;
}
.slide-title{
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 1.3rem;
    margin-bottom: 0.7rem;
    display: none;
}
.slide-desc{
    font-size: 1.5rem;
    color: #8A8A8A;
    display: none;
}
.slide.active{
    z-index: 4;
}
.slide.active .slide-desc, .slide.active .slide-title{
    display: block;
}
#large-rec{
    display: block;
}
#mobRec{
    display: none;
}
.mob-rec-img img{
    margin: auto;
    width: 20rem !important;
}
.mob-rec-name{
    font-size: 2.6rem;
    font-weight: bold;
    margin-top: 1.3rem;
    margin-bottom: 0.7rem;
}
.mob-rec-desc{
    font-size: 2rem;
    color: #8A8A8A;
    padding: 1rem 3rem 4rem;
}
@media (max-width:768px) {
    #large-rec{
        display: none;
    }
    #mobRec{
        display: block;
    }
}

/* Timing CSS */
#timing {
    height: auto;
    width: 100%;
    padding-bottom: 6rem;
    background: url("./img/timingbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hang-thread {
    padding-top: 5rem;
    width: 24.5rem;
    margin: auto;
}

#hang-frame {
    width: 35rem;
    height: 19rem;
    background: linear-gradient(black, rgb(65, 65, 65));
    margin: auto;
    color: white;
    border: 10px solid white;
    transform: rotate(-5deg);
    margin-top: -1rem;
}

#hang-frame h3 {
    text-align: center;
    font-family: "Freestyle Script";
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2rem;
}

#hang-frame table {
    width: 30rem;
    margin-left: 2rem;
    font-size: 1.7rem;
    margin-top: 3rem;
}

/* Comments Section CSS */
#comments {
    width: 122.5rem; 
    margin: auto;
    padding-top: 4rem;
    margin-bottom: 10rem;
    position: relative;
} 


@media (max-width:1200px) {
    html {
        font-size: 50%;
    }

    #comments {
        width: 100%;
        height: auto;
    }

    #contact-box {
        max-width: auto;
    }
}

.mobComm{
    display: none;
}
/* .owl-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: transparent;
} */
#testi-sec{
    text-align: center;
}
#testi-sec h1{
    margin-top: 6rem;
    font-size: 4.5rem;
    font-weight: bold;
}
.testi-card{
    position: relative;
    background-color: #272727;
    color: #8E8E8E;
    align-items: center;
    width: 74rem;
    height: auto;
    text-align: center;
    margin-bottom: 15rem;
    opacity: 0.3;
    transform: scale(0.8);
    transition: all 0.4s;
}
.testi-card img{
    width: 13rem !important;
    margin: auto;
    padding-top: 4rem;
}
.testi-card p{
    font-size: 2rem;
    padding: 1.3rem 6rem 7.5rem;
    margin-bottom: 0;
}
.testi-img{
    position: absolute;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%);
    display: none;
}
.t1{
    background-image: url(./img/comm1.png);
}
.t2{
    background-image: url(./img/comm2.png);
}
.testi-au{
    position: absolute;
    color: #5B79DB;
    font-size: 2.7rem;
    font-weight: bold;
    left: 50%;
    bottom: -10rem;
    transform: translatex(-50%);
    display: none;
}
.testi-star{
    display: none;
    position: absolute;
    font-size: 2rem;
    left: 50%;
    bottom: -12.5rem;
    transform: translatex(-50%);
}
.testi-star .active{
    color: #00DF61;
}
#testimonial .owl-item.active.center .testi-card{
    transform: scale(1);
}
#testimonial .owl-item.active.center .testi-card{
    opacity: 1;
}
#testimonial .owl-item.active.center .testi-img, #testimonial .owl-item.active.center .testi-au,#testimonial .owl-item.active.center .testi-star{
    display: block;
}
.owl-dots .owl-dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid gray !important;
    margin-left: 6px;
    margin-bottom: 3rem;
}
.owl-dots .owl-dot span{
    display: none !important;
}
.owl-dots .owl-dot.active{
    background-color: #EDBB0C !important;
}

@media (max-width:768px) {
    #comments {
        padding-top: 7rem;
    }
    .testi-card img{
        width: 7rem !important;
    }
    .testi-card{
        width: 40rem;
        margin: auto;
        margin-bottom: 14rem;
    }
    .testi-img{
        width: 10rem;
        height: 10rem;
    }
    .testi-au{
        bottom: -9rem;
    }
    .testi-star{
        bottom: -11.5rem;
    }


    .largeComm{
        display: none;
    }
    .mobComm{
        display: none;
    }
}


/* Contact us section CSS */
#contact {
    background-image: linear-gradient(rgba(49, 49, 49, 0.8),
            rgba(49, 49, 49, 0.8)),
        url(./img/bgmap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact-box {
    position: relative;
    background-color: #EDBB0C;
    max-width: 56.5rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-size: 2rem;
    color: #4B4B4B;
}

#loc {
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid #EDBB0C;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width : 768px) {
    #contact-box{
        max-width: 30rem;
    }
}

/* ===================================================================================================================================================================== */
/* *{
    box-sizing: border-box !important ;
    margin: 0;
    padding: 0;
} */

#navbar {
    height: auto;
    display: flex;
    position: relative;
}

#navbar li {
    font-size: small;
    font-weight: bold;
}

#imgContainer {
    border-radius: 50%;
    width: 120px;
    height: 110px;
    position: relative;
    top: 25px;

    background-color: black;
    z-index: 5;
}

#imgContainer img {
    position: relative;
    top: 3.5px;
    right: 10px;
}

#navbar #hamburger {
    position: absolute;
    right: 2rem;
    font-size: 5rem;
    color: white;
    display: none;
    cursor: pointer;
}

#mobNav {
    display: none;
}

@media(max-width:550px) {
    #imgContainer {
        position: absolute;
        top: 0;
        left: 40px;
        width: 100px;
        height: 95px;
        background: transparent;
    }

    #imgContainer img {
        height: 55px;
    }

    #navbar {
        height: 70px;
        z-index: 8;
    }


    #navbar li a {
        display: none;
    }

    #mobNav {
        display: block;
        position: absolute;
        top: -200px;
        width: 100%;
        background-color: black;
        text-align: center;
        font-size: 2rem;
        z-index: 6;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes show {
        0% {
            top: -200px
        }

        100% {
            top: 8rem;
        }
    }

    @keyframes hide {
        0% {
            top: 8rem;
        }

        100% {
            top: -200px;
        }
    }

    #mobNav hr {
        height: 5px;
    }

    #mobNav a {
        padding-bottom: 1.2rem;
    }

    #hamburger {
        display: block !important;
    }
}

/* body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none} */


.slideshow-container {
    max-width: 2000px;
    position: relative;
   padding: 0;
}



.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.mySlides {
    position: relative;
    height: 85vh;
    background-image: url("/img/Group 36.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

/* Caption text */
.mySlides .text {
    color: white;
    font-weight: bolder;
    /* font-size: 15px; */
    padding: 0px 12px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
@media (max-width: 768px) {
    .text img{
        width: 25rem;
    }
}

.mySlides .text p {
    font-size: 15px;
    font-weight: lighter;
    color: #cac9c7;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    position: relative;
    bottom: 100px;
    height: 15px;
    width: 15px;
    margin: 0px 2px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #EDBB0C;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

.carousel-button {
    margin-bottom: 100px;
}

#footer {
    position: relative;
    height: auto;
    background-color: #EDBB0C;
}

#imgRow {
    display: flex;
    justify-content: center;
}

#footer img {
    margin-top: 15px;
}

#footer .txt {
    font-size: 15px;
    font-weight: 500;
}

#footer #line {
    margin-right: 100px;
    margin-left: 100px;
    border-style: solid;
    border-width: 0.1px;
    border-color: white;
}

#footer .child i {
    font-size: 25px;
}

@media(max-width:550px) {
    .nav {
        flex-direction: column !important;
    }

    #footer .container .child {
        margin: 2rem 0;
    }
}


#header h5 {
    text-align: center;
    font-family: var(--perFontFam);
    font-size: var(--perFontSize);
}

#header h5 .first-letter {
    font-size: 4.5rem;
    font-weight: 300;
}

#header h1 {
    text-align: center;
    margin-bottom: 80px;
    font-weight: 700;
    text-indent: 20px;
    letter-spacing: 1.5px;
    font-size: 40px;
}

.button {
    /* box-sizing: border-box; */
    height: 57px;
    width: 150px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    border: 3px solid #EDBB0C;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.button:hover {
    background-color: #EDBB0C;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.gal-btn-active {
    background-color: #EDBB0C;
    color: white;
    font-weight: 500;
}

/* .galHov{
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    opacity: 0;
    transition: 0.5s;
}
.galHov:hover{
    opacity: 1;
} */

.gal{
    display: grid;
    row-gap: 40px;
    column-gap: 40px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 40px 40px; */
    grid-auto-flow: row;
    grid-template-areas:
        "div1 div2 div3 div4"
        "div1 div5 div6 div7";

}
.marb{
    
    margin-bottom: 100px;
}
.gal-sna{
    display: grid;
    /* row-gap: 40px; */
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "div1 div2 div3";
    justify-items: center;
}

.div1 {
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}

.div4 {
    grid-area: div4;
}

.div5 {
    grid-area: div5;
}

.div6 {
    grid-area: div6;
}

.div7 {
    grid-area: div7;
}

@media(max-width:767px) {
    .button {
        /* box-sizing: border-box; */
        height: 38px;
        width: 110px;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        font-size: 15px;
        margin-right: 20px;
        padding-top: 5px;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

}

@media(max-width:992px) {
    .gal {
        /* width: max-content; */
        display: grid;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "div2 div3 div4"
            "div5 div6 div7";

        margin-bottom: 20px;
    }

    .gal .div1 {
        display: none;
    }

    .gallery-link {
        text-align: center;
        margin-bottom: 50px;

    }

    .gallery-link a {
        text-decoration: none;
        font-size: 2rem;
    }
}

/* Order Now */

#orderNow {
    display: flex;
    align-items: center;
    justify-content: center;
}

#strip1 {
    width: 150px;
    height: auto;
    background-color: #2e2e2e;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6f6f6f;

    margin-bottom: 0;

}

#strip1 #dfood {
    color: #f1f1f1;
}

.order-container {
    position: relative;
    top: -85px;
    z-index: 10;
    display: flex;

}

#strip2 {
    background-color: #EDBB0C;
    border-right: 1px solid white;
    padding-right: 15px;
    padding-top: 30px;

}

#strip2 span {
    font-size: 15px;
}

#strip2 #txt {
    font-size: 19px;
}

#strip2 .or {
    border-radius: 50%;
    position: relative;
    left: 93px;
    top: -29px;
    background-color: #EDBB0C;
    box-sizing: border-box;
    color: white;
    font-size: 10px;
    text-align: center;
    border: 1px solid white;
    width: 20px;
    height: 20px;
}

#strip3 {
    display: flex;
    align-items: center;
    background-color: #EDBB0C;
    padding-left: 15px;
    width: auto;
}

#strip3 span {
    font-size: small;
}

#strip3 button {
    margin-left: 10px;
    margin-right: 50px;
    font-size: 1.7rem;
}

@media(max-width:950px) {
    #orderNow {
        display: flex;
        flex-direction: column;
    }

    .order-container {
        display: flex;
        flex-direction: column;
    }

    #strip1 {
        width: auto;
        padding: 3rem 10rem !important;
    }

    #strip2 {
        background-color: #ff3737;
        color: white;
        border-bottom: 4px solid #EDBB0C;
    }

    #strip2 span {
        color: white !important;
    }

    #strip2 .or {
        border-radius: 50%;
        position: relative;
        left: 9px;
        top: 20px;
        box-sizing: border-box;
        color: white;


        border: 1px solid white;
        width: 20px;
        height: 20px;
    }

    #strip3 {
        display: flex;
        flex-direction: column;
        background-color: #ff3737;
        color: white;
    }
}