html{
    font-size: 62.5%;
}
:root{
    --perFontFam : "Vivaldi";
    --perFontSize : 3.5rem;
}


/* About CSS */
#about-pretitle{
    font-family: var(--perFontFam);
    font-size: var(--perFontSize);
}
#about-title{
    margin-top: -30px;
    font-size: 4rem;
    margin-bottom: 50px;
}
#about-img{
    position: relative;
}
#about-img img{
    position: absolute;
    right: -15%;
    z-index: -1;
}
#about-desc{
    background-color: rgba(255, 206, 10, 0.726);
    padding: 85px 50px 90px 30px;
    text-align: center;
}
#about-desc h2{
    font-size: 3.9rem;
    font-weight: 400;
    margin-bottom: 20px;
}
#about-desc p{
    font-size: 2.3rem;
    color: #4B4B4B;
}
#about-cards{
    margin-top: 17.5rem;
    max-width: 1350px;
    margin-bottom: 15rem;
}
#about-cards img{
    min-width: 200px;
    min-height: 100px;
}
#about-cards h3{
    font-size: 3rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
#about-cards p{
    font-size: 2.4rem;
    color: #8E8E8E;
    padding-left: 20px;
    padding-right: 20px;
}

/* Recipe CSS */
#recipe{
    background-color: #272727;
    color: white;
    text-align: center;
}
#recipe-pretext{
    font-size: var(--perFontSize);
    font-family: var(--perFontFam);
    margin-top: 7rem;
}
#recipe-title{
    margin-top: -20px;
    font-size: 4rem;
    margin-bottom: 7rem;
}
.image-group{
    position: relative;
    height: auto;
    margin-bottom: 5rem;
}

#img1{
    position: absolute;
    z-index: 1;
    left: 30%;
}
#img2{
    position: absolute;
    z-index: 2;
    left: 37%;
}
#img3{
    z-index: 3;
}
#img4{
    position: absolute;
    z-index: 2;
    right:37%;
}
#img5{
    position: absolute;
    z-index: 1;
    right: 30%;
}
#recipe-name{
    font-size: 2.1rem;
    font-weight: bold;
}
#recipe-desc{
    font-size: 2.1rem;
    color: #8E8E8E;
    margin-bottom: 8rem;
}

/* Timing CSS */
#timing{
    height: auto;
    width: 100%;
    padding-bottom: 6rem;
    background: url(./img/Group\ 45.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#hang-thread{
  padding-top: 5rem;
  width: 24.5rem;
  margin: auto;
}
#hang-frame{
    width: 35rem;
    height: 19rem;
    background: linear-gradient(black,rgb(65, 65, 65));
    margin: auto;
    color: white;
    border: 10px solid white;
    transform: rotate(-5deg);
    margin-top: -1rem;
}
#hang-frame h3{
    text-align: center;
    font-family: "Freestyle Script";
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2rem;
}
#hang-frame table{
    width: 30rem;
    margin-left: 2rem;
    font-size: 1.7rem;
    margin-top: 3rem;
}

/* Comments Section CSS */
#comments{
    width: 122.5rem;
    margin: auto;
    padding-top: 15rem;
    gap: 2.5rem;
}
#back-btn-block{
    width: 11.5rem;
    height: 49.5rem;
    background-image: linear-gradient(
        rgba(49, 49, 49, 0.8),
        rgba(49, 49, 49, 0.8)
      ),
      url(./img/comm3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#forward-btn-block{
    width: 11.5rem;
    height: 49.5rem;
    background-image: linear-gradient(
        rgba(49, 49, 49, 0.8),
        rgba(49, 49, 49, 0.8)
      ),
      url(./img/comm2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#back-btn,#forward-btn{
    width: 5rem;
    height: 5rem;
    border: 5px solid white;
    margin: auto;
    cursor: pointer;
}
#back-btn{
    border-right: transparent;
    border-bottom: transparent;
    transform: rotate(-45deg);
    top: 45%;
    left: 40%;
}
#forward-btn{
    border-left: transparent;
    border-bottom: transparent;
    transform: rotate(45deg);
    top: 45%;
    left: 20%;
    
}
#comm-block{
    gap: 3.5rem;
}
#comm-dis{
    width: 58.5rem;
    align-self: center;
}
#comm-text{
    font-size: 3rem;
    font-weight: bold;
    margin-right: 13rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
}
#comm-au{
    font-size: 2.5rem;
    color: #5B79DB;
}
@media (max-width:1200px) {
    html{
        font-size: 50%;
    }
    #comments{
        width: 100%;
        height: auto;
    }
}

/* Contact us section CSS */
#contact{
    background-image: linear-gradient(
        rgba(87, 87, 87, 0.8),
        rgba(87, 87, 87, 0.8)
      ),
      url(./img/bgmap.png);
}
#contact-box{
    position: relative;
    background-color: #EDBB0C;
    max-width: 56.5rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-size: 2rem;
    color: #4B4B4B;
}
#loc{
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid #D3D002;
    bottom: -35px;
    left: 50%;
}